Library/
Temp/
obj/
Logs/
UserSettings/
.vs/
popcorn.htm

*.sln
*.*proj

*.user
*.userprefs

*.pidb
*.pidb.meta

*.app
*.apk
.DS_Store

# Common
Assets/ActualImages
Assets/Gizmos
Assets/PopcornFX
Assets/PopcornFX_Package
Assets/PopcornFXAssets
Assets/Plugins
Assets/StreamingAssets/
Assets/PK_Internal/
Assets/Editor\ Default\ Resources/PopcornFXAssets/

packages-lock.json